<style>
    .postItem {
        margin-top: 30px;
    }
    .postItem_content{
        padding: 30px;
    }
</style>

<div class="col-md-4 postItem">
    <div class="card">
        <img class="card-img-top" src="<%= post.imageUrl %> " alt="Card image cap">
        <div class="card-body postItem_content">            
            <h4 class="card-title"><%= post.title %> </h1>
            <h6 class="card-text"><%= post.description %> </h4>
            <a href="#" class="btn btn-primary">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
</div>