<style>
    .custom_section {
        text-align: center;
        margin: 50px 0px;
    }

    .custom_section >h1{
        color: #948989;
        font-size: 35px;
    }
</style>

<section class="custom_section">
    <h1><%= title %></h1>
</section>