<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs', {title:'Posts'}) %>
    </head>
    <body>
        <%- include('../partials/nav.ejs',{path:'/posts', username:username})%>
        <h1>My Posts</h1>
    </body>
</html>